

<div class="order">
    <div class="orders-list">
        <img style="float:left" src="{{image }}">
        <div class="sprite-book"></div>
        <a href="#">{{ book }}</a>
        <span>{{ author }}</span>
        <strong class="price">{{ price }}грн.</strong>
    </div>

    <div class="orders-list">
        <strong>{{ quantity }}</strong>
    </div>
    <div class="orders-list">
        <strong class="price">{{ price }}грн.</strong>
    </div>
</div>

