
<div id="{{id}}" class="tableTR">
        <span class="tableTD">{{date}}</span>
        <span class="tableTD">{{ orderId }}</span>
        <span class="tableTD">
            <span class="{{ sprite }}" ></span>
            <span>{{ state }}</span>
        </span><br>
    <span class="spriteOpenOrder"></span>
</div>


<div id="acc{{id}}" style="display: none">
    <div class="information">
        <div class="customerInformation">Имя получателя:</div>
        <div>{{ name }}</div>
        <div class="customerInformation">Номер телефона:</div>
        <div>{{ mobile }}</div>
        <div class="customerInformation">Доставка:</div>
        <div>{{ delivery }}</div>
        <div class="customerInformation">Оплата:</div>
        <div>{{ payment }}</div>
    </div>

    <div class="ordersTitle">
        <div class="ordersList">
            <strong>Товары в заказе</strong>
        </div>
        <div class="ordersList">
            <strong>Количество</strong>
        </div>
        <div class="ordersList">
            <strong>Цена</strong>
        </div>
    </div>

    <div id="bookOrders{{id}}">


    </div>




    <div>
        <div class="delivery">
            <span>Доставка: <strong class="price">20грн.</strong></span>
        </div>
    </div>

    <div class="sum">
        <div style="float:left;">
            <span class="bonus"><strong>+38 бонусов</strong> за этот заказ</span>
        </div>
    </div>
    <div style="text-align:right; padding-bottom:40px;">
        <span>Сумма заказа: <srong class="price">296грн.</srong></span>
    </div>
</div>
